* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    /* TODO : Définir la police géneral de mon site */

    color: black;
}

header {
    position: relative;
}

/* Navigation */
nav {
    position: relative;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;

}

nav li {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}

nav li a {
    color: white;

}

nav li a:hover {
    color: aqua;
}

.logo {
    position: absolute;
    color: white;
    right: 0;
    top: 35%;
}

/* Fin de la navigation */


h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
    ;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/* introduction du fichier index.html */
.introduction {
    text-align: justify;
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
    box-shadow: 2px 2px 3px 10px #eee;
}

/* Contenu principal index.html */
main {
    width: 70%;
    margin: auto;
    font-size: 18px;
}

article {
    padding: 50px;
    margin-bottom: 100px;

}



/* A propos de l'auteur */
.aPropos {
    width: 70%;
    border-left: 5px solid black;
    background-color: #eeeeee;
}

p,
ul,
ol {
    margin-left: 20px;
}

img {
    float: right;
    width: 250px;
    height: 200px;
}

/* Fin de la section A propos de l'auteur */


/* Section conseils */
.conseils {
    width: 80%;
    margin-left: 180px;
    background-color: #eeeeee;
    border-right: 5px solid black;

}

.conseils li {
    padding: 12px;
}

/* Fin de la Section conseils */


/* Prerequis */

.prerequis {
    background-color: #eeeeee;
    border-left: 5px solid black;
}

.prerequis ul {
    list-style-type: none;
    padding: 20px;
}

.prerequis li {
    padding: 10px;
}

.prerequis a {
    color: black;
}

.prerequis a:hover {
    color: #4CAF50;
}

/* Fin de la section Prerequis */

.definition {
    background-color: #4CAF50;
    color: black;
    border-radius: 5px;
    margin: auto 30%;
    text-align: center;
}


/* fin du contenu principal */

/*Footer */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    color: antiquewhite;
}

footer p {
    padding: 10px;
}

footer a:hover {
    color: #4CAF50;
}

/* Fin du Footer */


/* habitude fichier bonnePratique.html */
.habitude {
    width: 70%;
    background-color: #eeeeee;
    border-left: 5px solid black;
}

.habitude ol {
    padding: 20px;
}

.habitude li {
    padding: 5px;
}

/* fin du contenu principal bonnePratique.html */

/* Section conseilSante fichier bonnePratique.html */
.sante {
    width: 70%;
    background-color: #eee;
    border-right: 5px solid black;
    margin-left: 180px;
}

.sante p {
    padding: 10px;
}

.sante ol {
    padding: 10px;
}

.sante li {
    padding: 12px;
}



p a:hover {
    color: #4CAF50;
}

/* Fin de la section conseilSante */

/* section securite fichier bonnePratique.html */

.securite {
    width: 70%;
    background-color: #eeeeee;
    border-left: 5px solid black;
}

.securite p {
    padding: 10px;
}

/*fin de la section securite */



/* sidebar fichier baseInformatique.html */
.sidebar {
    width: 10%;
     position: fixed;
     height: 100%;   
     overflow: auto;
     color: wheat;
     overflow: hidden;
}


.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

/* Fin du sidebar baseInformatique.html */

/* Contenu fichier baseInformatique.html */


.introBase ul {
    padding: 20px;
    list-style-type: none;
}

.introBase li {
    padding: 10px;
}

/* section Carte Mère */

.carteMere {
    width: 60%;
    background-color: #eee;
    border-left: 5px solid black;
    margin-left: 50px;
}

/* Fin de la section Carte Mère */

/* section CPU */

.cpu{
    width: 60%;
    background-color: #eee;
    border-right: 5px solid black;
    margin-left: 300px ;
}

.cpu p{
    padding: 10px;
}
/* Fin de la section CPU */

/* Section Ram */ 
.ram{
    width: 60%;
    background-color: #eee;
    border-left:5px solid black;
    margin-left: 50px;
}

.ram p {
    padding: 10px;
}

/* Fin de la section Ram */


/* Fin du Contenu fichier baseInformatique.html */